<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atqgh.dao.GoodsDao">

    <select id="getAll" resultType="com.atqgh.entity.Goods">
        SELECT
        goods.id,
        goods.`name`,
        goods.price,
        goods.picture
        FROM
        goods
        <where>
            <if test="name!=null and name!=''">
                and NAME like concat(concat('%',#{name}),'%')
            </if>
        </where>
    </select>

</mapper>